---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import Hr from "@components/Hr.astro";
export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumbs />
  <main id="main-content">
    <section id="" class="prose mb-28 max-w-3xl prose-img:border-0">
	<br>


<!---
	  Note that the <slot/> below is what accepts and renders Markdown content.
-->
      <slot />

    </section>
  </main>
  <Footer />
</Layout>
